.actualidad-universitaria {
  margin: 0 75px; }
  .actualidad-universitaria .au-title {
    font-family: Poppins-SemiBold;
    font-size: 20px; }
  .actualidad-universitaria .au-noticias {
    margin: 15px 25px;
    display: flex; }
    .actualidad-universitaria .au-noticias > div {
      width: 50%; }
    .actualidad-universitaria .au-noticias .noticia-principal {
      position: relative; }
      .actualidad-universitaria .au-noticias .noticia-principal .np-title {
        position: absolute;
        color: #fff;
        font-size: 25px;
        font-family: poppins-SemiBold;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        background: rgba(255, 255, 255, 0);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 53%, rgba(0, 0, 0, 0.8) 80%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(53%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 53%, rgba(0, 0, 0, 0.8) 80%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 53%, rgba(0, 0, 0, 0.8) 80%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 53%, rgba(0, 0, 0, 0.8) 80%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 53%, rgba(0, 0, 0, 0.8) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 ); }
        .actualidad-universitaria .au-noticias .noticia-principal .np-title .title {
          font-family: Poppins-SemiBold;
          margin: 30px; }
    .actualidad-universitaria .au-noticias .noticias-secundarias {
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .actualidad-universitaria .au-noticias .noticias-secundarias .noticia {
        display: flex; }
        .actualidad-universitaria .au-noticias .noticias-secundarias .noticia:first-child {
          margin-bottom: 25px; }
        .actualidad-universitaria .au-noticias .noticias-secundarias .noticia .n-information {
          width: 75%;
          padding-right: 35px; }
          .actualidad-universitaria .au-noticias .noticias-secundarias .noticia .n-information .n-title {
            font-size: 18px;
            font-family: Poppins-SemiBold; }
          .actualidad-universitaria .au-noticias .noticias-secundarias .noticia .n-information .n-entradilla {
            font-style: italic; }
          .actualidad-universitaria .au-noticias .noticias-secundarias .noticia .n-information .n-fecha {
            color: #a7adc7; }
        .actualidad-universitaria .au-noticias .noticias-secundarias .noticia .n-img {
          width: 25%; }
      .actualidad-universitaria .au-noticias .noticias-secundarias .ver-mas {
        background-color: #d6d6d6;
        width: 150px;
        padding: 5px 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        border-radius: 25px; }

@media only screen and (max-width: 768px) {
  .actualidad-universitaria .au-noticias {
    flex-direction: column; }
    .actualidad-universitaria .au-noticias > div {
      width: 100%; } }
