.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 15px 100px; }
  .posts .post {
    position: relative;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; }
    .posts .post .info-image {
      height: 100%; }
      .posts .post .info-image > div {
        height: 50%; }
      .posts .post .info-image .image {
        overflow: hidden; }
      .posts .post .info-image .info {
        padding: 30px 25px; }
        .posts .post .info-image .info .title {
          padding-bottom: 15px;
          border-bottom: 1px solid #ccc;
          text-align: center;
          min-height: 65px; }
          .posts .post .info-image .info .title a {
            font-family: Poppins-SemiBold; }
        .posts .post .info-image .info .created_at {
          margin-top: 15px;
          color: #ccc; }
    .posts .post .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20%; }

@media only screen and (max-width: 768px) {
  .posts {
    grid-template-columns: 1fr;
    gap: 0px;
    margin: 15px 25px; }
    .posts .post {
      margin-bottom: 15px; } }
