.banner {
  position: relative;
  overflow: hidden;
  height: 400px; }
  .banner .img {
    z-index: 4;
    width: 100%;
    position: absolute;
    background-color: rgba(18, 24, 79, 0.35); }
    .banner .img img {
      transform: translateY(-30%); }
      .banner .img img.from_top {
        transform: translateY(0); }
  .banner .content {
    position: absolute;
    z-index: 5;
    display: flex;
    color: #fff;
    width: 100%;
    height: 100%; }
    .banner .content .arrows {
      width: 12.5%;
      display: flex;
      align-items: flex-end; }
    .banner .content .info {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .banner .content .info .topText {
        font-family: Poppins-ExtraBold;
        text-align: center;
        font-size: 4rem;
        text-shadow: 0px 0px 30px #000;
        line-height: 0.9;
        margin-bottom: 10px; }
        .banner .content .info .topText.small {
          font-size: 3rem; }
      .banner .content .info .line {
        width: 75%;
        height: 7.5px; }
      .banner .content .info .bottomText {
        font-family: Poppins-ExtraBold;
        font-size: 2.5rem;
        text-shadow: 0px 0px 30px #000;
        text-align: center; }
        .banner .content .info .bottomText.small {
          font-size: 1.5rem; }

@media only screen and (max-width: 768px) {
  .banner {
    height: 150px; }
    .banner .content .info .topText {
      font-size: 2rem !important; }
      .banner .content .info .topText.small {
        font-size: 1rem !important; }
    .banner .content .info .bottomText {
      font-size: 1rem; }
      .banner .content .info .bottomText.small {
        font-size: 0.9rem; } }
