.demas-noticias {
  margin: 75px;
  display: flex;
}
.demas-noticias > div {
  width: 50%;
}
.demas-noticias .noticias-interes {
  border-right: 2px solid #6d6a6a;
  padding-right: 25px;
}
.demas-noticias .noticias-interes .noticias .mas-reciente {
  position: relative;
}
.demas-noticias .noticias-interes .noticias .mas-reciente .title {
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-family: poppins-SemiBold;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  top: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(53%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 53%, rgba(0, 0, 0, 0.8) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#000000", GradientType=0 );
}
.demas-noticias .noticias-interes .noticias .demas {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.demas-noticias .noticias-interes .noticias .demas .ns .title * {
  font-family: Poppins-ExtraBold;
  font-size: 1.1rem;
}
.demas-noticias .ni-h,
.demas-noticias .na-h {
  text-transform: uppercase;
  font-family: Poppins-SemiBold;
  font-size: 20px;
}
.demas-noticias .noticias-areas {
  padding-left: 25px;
}
.demas-noticias .noticias-areas .coming-soon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Poppins-ExtraBold;
}
