.uni-content {
  padding: 5% 8%; }
  .uni-content .uni_info {
    padding: 15px;
    background-color: #252146;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    display: flex; }
    .uni-content .uni_info .info {
      padding: 10px; }
      .uni-content .uni_info .info .pic {
        display: flex;
        justify-content: center;
        margin-bottom: 15px; }
        .uni-content .uni_info .info .pic img {
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          border: 5px solid #fff; }
      .uni-content .uni_info .info .name {
        text-align: center;
        font-size: 1.7rem;
        font-family: "Poppins-Medium";
        line-height: 0.9;
        margin: 0 0 10px 0; }
      .uni-content .uni_info .info .description {
        font-size: 0.9rem;
        padding: 5px; }
    .uni-content .uni_info .video {
      display: flex;
      align-items: center; }
  .uni-content .column-container {
    display: flex;
    justify-content: space-between; }
    .uni-content .column-container .column {
      display: inline-block;
      position: relative; }
      .uni-content .column-container .column:first-child {
        width: calc(30% - 7.5px); }
      .uni-content .column-container .column:last-child {
        width: calc(70% - 7.5px); }
      .uni-content .column-container .column .sticky {
        display: block;
        position: sticky;
        top: 125px; }
  .uni-content .career-info {
    margin-bottom: 35px; }
    .uni-content .career-info .presentation-card {
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      margin-bottom: 15px; }
      .uni-content .career-info .presentation-card .uni-img {
        height: 225px; }
        .uni-content .career-info .presentation-card .uni-img img {
          width: 100%;
          height: 100%; }
      .uni-content .career-info .presentation-card .uni-cover-img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100px);
        width: 150px;
        height: 150px;
        border-radius: 100%;
        overflow: hidden;
        border: 3px solid #fff; }
        .uni-content .career-info .presentation-card .uni-cover-img img {
          border-radius: 100%; }
      .uni-content .career-info .presentation-card .uni-info {
        text-align: center;
        background-color: #252146;
        color: #fff;
        padding: 50px 15px 10px; }
        .uni-content .career-info .presentation-card .uni-info > div {
          padding: 5px 0px; }
        .uni-content .career-info .presentation-card .uni-info > div:not(:last-child) {
          border-bottom: 1px solid #fff; }
        .uni-content .career-info .presentation-card .uni-info .uni-name {
          font-size: 1.5rem;
          line-height: 1;
          font-family: Poppins-SemiBold; }
        .uni-content .career-info .presentation-card .uni-info .uni-city {
          font-size: 1.3rem;
          font-size: 1rem; }
        .uni-content .career-info .presentation-card .uni-info .uni-desc {
          font-size: 0.8rem;
          line-height: 16px;
          margin-top: 10px;
          text-align: left; }
      .uni-content .career-info .presentation-card .ver-carreras {
        background-color: #e5e5e5;
        border-radius: 0px 0px 15px 15px;
        border: 3px solid #28244a;
        text-align: center;
        padding: 15px 0px;
        cursor: pointer; }
        .uni-content .career-info .presentation-card .ver-carreras a {
          font-family: Poppins-SemiBold;
          font-size: 25px; }
    .uni-content .career-info .general-info {
      margin-top: 35px;
      border-radius: 7px;
      overflow: hidden; }
      .uni-content .career-info .general-info .item {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 15px;
        font-family: Poppins-ExtraBold; }
        .uni-content .career-info .general-info .item:nth-child(odd) {
          display: flex; }
          .uni-content .career-info .general-info .item:nth-child(odd) div {
            margin-right: 15px;
            text-align: center; }
            .uni-content .career-info .general-info .item:nth-child(odd) div:last-child {
              margin-left: 55px; }
        .uni-content .career-info .general-info .item:nth-child(even) {
          background-color: #e5e5e5;
          font-size: 20px; }
    .uni-content .career-info .info-contacto {
      font-size: 20px;
      margin-top: 35px; }
      .uni-content .career-info .info-contacto .title {
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px; }
        .uni-content .career-info .info-contacto .title div:first-child {
          width: 10%; }
        .uni-content .career-info .info-contacto .title div:last-child {
          font-weight: bold;
          width: 90%;
          margin-left: 15px; }
      .uni-content .career-info .info-contacto .content {
        padding-top: 10px; }
    .uni-content .career-info .btn {
      background-color: #ff5a4a;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold; }
      .uni-content .career-info .btn a {
        color: #fff; }
      .uni-content .career-info .btn .btn_link {
        color: #fff;
        border: 2px solid #fff;
        display: block;
        padding: 5px 65px;
        border-radius: 5px; }
    .uni-content .career-info .lateral-info.fixed {
      display: block;
      position: sticky;
      top: 125px; }
    .uni-content .career-info .lateral-info.end {
      position: relative; }
    .uni-content .career-info .carreer-pre .videos {
      display: flex;
      justify-content: space-between; }
      .uni-content .career-info .carreer-pre .videos .video {
        width: calc(50% - 10px); }
        .uni-content .career-info .carreer-pre .videos .video .frame {
          width: 100%;
          border-radius: 10px; }
    .uni-content .career-info .inicio_infocard {
      font-size: 1.2rem;
      font-weight: bold; }
  .uni-content .buttons {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 25px 0px; }
    .uni-content .buttons .btn {
      background-color: #ff5a4a;
      color: #fff;
      font-size: 1.2rem;
      margin-left: 25px;
      font-weight: bold; }
      .uni-content .buttons .btn .btn_link {
        color: #fff;
        border: 2px solid #fff;
        display: block;
        padding: 5px 15px;
        border-radius: 5px; }
  .uni-content .btn {
    background-color: #ececf5;
    color: #292d92;
    display: block;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    .uni-content .btn span:first-child {
      font-family: Poppins-ExtraBold;
      font-size: 1.2rem; }
    .uni-content .btn img {
      width: 10px;
      margin-left: 5px; }

.section {
  padding: 25px 30px; }
  .section .section-title {
    border-bottom: 1px solid gray;
    font-size: 2rem;
    display: flex; }
    .section .section-title .icon {
      margin-right: 15px;
      margin-bottom: 5px; }
    .section .section-title .s-title {
      font-weight: bold;
      font-size: 25px;
      padding-top: 10px; }
  .section .section-content {
    padding: 15px; }

.testimonios {
  padding: 0px; }
  .testimonios .section-title {
    padding: 0px 30px; }
  .testimonios .section-content {
    background-color: #000;
    display: flex;
    justify-content: center; }

@media only screen and (max-width: 768px) {
  .uni-content .uni_info {
    flex-direction: column; }
    .uni-content .uni_info .video .video_frame {
      width: 100% !important; }
  .uni-content .career-info {
    flex-direction: column; }
    .uni-content .career-info .column {
      width: 100% !important; }
    .uni-content .career-info .section {
      padding: 25px 0px !important; }
  .uni-content .buttons {
    flex-direction: column; } }
