.horizontal-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px; }
  .horizontal-ad .ad-title {
    letter-spacing: 3px;
    font-size: 10px;
    margin-bottom: 5px;
    font-family: Poppins-SemiBold;
    font-weight: bold; }
  .horizontal-ad .ad-content {
    cursor: pointer; }
