.post {
  padding: 100px 300px;
}
.post .title {
  font-family: Poppins-ExtraBold;
  font-size: 3.2rem;
  text-align: center;
}
.post .publication_date {
  text-align: center;
  margin: 15px 0px;
}
.post .entradilla {
  margin: 25px 0px;
  font-size: 25px;
}
.post .post_text {
  margin: 25px 0px;
}
.post .post_text a {
  color: #007bff !important;
}
.post .post_text * {
  font-family: Poppins, Roboto, Cambria, Cochin, Georgia, Times, Times New Roman, serif !important;
  font-size: 15px !important;
}
.post .tags {
  font-weight: bold;
}
.post .share {
  margin-top: 25px;
}
.post .share ul {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
}
.post .share ul li {
  display: inline-block;
  width: 30px;
  height: 50px;
}
.post .share ul li:not(:first-child) {
  margin-left: 75px;
}
.post .share ul li:not(:first-child) a {
  display: flex;
  align-content: center;
  height: 100%;
  width: 30px;
  overflow: hidden;
}
.post .share ul li:first-child {
  font-size: 19px;
  line-height: 50px;
}
.post .share ul li .logo {
  border-radius: 50%;
  width: 100%;
  pointer-events: none;
  z-index: -1000;
}

@media only screen and (max-width: 768px) {
  .post {
    padding: 25px 20px;
  }
  .post .title {
    font-size: 2rem;
  }
  .post .entradilla,
.post .post_text {
    font-size: 15px;
  }
}
