a {
  color: inherit !important; }

.columns {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px; }
  .columns > div.column:first-child {
    width: calc(35% - 20px); }
  .columns > div.column:last-child {
    width: calc(65% - 20px); }
  .columns .column .side_menu {
    margin-top: 54.5px;
    position: sticky;
    top: 150px; }
    .columns .column .side_menu .career_menu_section {
      display: flex;
      cursor: pointer; }
      .columns .column .side_menu .career_menu_section.active .name {
        color: #fa5a4c; }
      .columns .column .side_menu .career_menu_section.active .drawing .circle {
        background-color: #fa5a4c; }
      .columns .column .side_menu .career_menu_section .drawing {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25px; }
        .columns .column .side_menu .career_menu_section .drawing .circle {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: #bdbfc2; }
        .columns .column .side_menu .career_menu_section .drawing .line {
          min-height: 15px;
          height: calc(100% - 25px);
          width: 2px;
          background-color: #bdbfc2; }
      .columns .column .side_menu .career_menu_section .name {
        color: #bdbfc2;
        padding-left: 15px;
        font-size: 1.2rem;
        overflow-wrap: break-word;
        word-wrap: break-word; }
  .columns .column .video .frame {
    width: 100%; }
  .columns .column .profit-graph {
    width: 100%;
    height: 315px;
    background-color: #252146;
    border-radius: 7.5px; }
    .columns .column .profit-graph .graph {
      width: 100%;
      color: #fff;
      padding: 15px;
      display: flex; }
      .columns .column .profit-graph .graph .wages {
        width: 60%;
        height: 250px; }
        .columns .column .profit-graph .graph .wages .wages-title {
          font-family: Poppins-SemiBold;
          margin-bottom: 15px;
          color: #fff;
          text-align: center; }
        .columns .column .profit-graph .graph .wages #lineChart {
          width: 100% !important;
          height: 100% !important; }
      .columns .column .profit-graph .graph .employability {
        width: 40%;
        padding-left: 15px; }
        .columns .column .profit-graph .graph .employability .donut {
          height: 75%;
          display: flex; }
          .columns .column .profit-graph .graph .employability .donut .title {
            margin-top: 5px;
            margin-bottom: 5px;
            font-family: Poppins-SemiBold;
            text-align: center; }
          .columns .column .profit-graph .graph .employability .donut > div {
            width: 50%; }
          .columns .column .profit-graph .graph .employability .donut .percentage {
            font-size: 50px;
            text-align: center;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .columns .column .profit-graph .graph .employability .donut .percentage div {
              font-size: 0.75rem; }
  .columns .column .sections {
    margin-top: 75px; }
    .columns .column .sections .single_section {
      display: flex; }
      .columns .column .sections .single_section .style_line {
        display: flex;
        flex-direction: column;
        margin-right: 10px; }
        .columns .column .sections .single_section .style_line.no_line .line {
          width: 0px; }
        .columns .column .sections .single_section .style_line .point {
          position: relative;
          width: 20px;
          height: 20px;
          border: 2px solid #000;
          background-color: transparent;
          border-radius: 50%; }
          .columns .column .sections .single_section .style_line .point .small_point {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #000;
            top: 50%;
            left: 50%;
            margin: -5px 0px 0px -5px; }
        .columns .column .sections .single_section .style_line .line {
          height: calc(100% - 20px);
          width: 0.5px;
          background-color: #f0f2f5;
          align-self: center; }
      .columns .column .sections .single_section .info {
        width: calc(100% - 20px); }
        .columns .column .sections .single_section .info .sec_title {
          display: flex;
          align-items: center;
          position: relative;
          top: -10px; }
          .columns .column .sections .single_section .info .sec_title h2 {
            margin-bottom: 0px !important; }
        .columns .column .sections .single_section .info .sec_content {
          margin-bottom: 75px; }
          .columns .column .sections .single_section .info .sec_content .catalogue .actual_phase {
            display: flex;
            background-color: #f0f2f5;
            border-radius: 7.5px;
            color: #606060;
            margin-bottom: 20px; }
          .columns .column .sections .single_section .info .sec_content .catalogue .p_img {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center; }
          .columns .column .sections .single_section .info .sec_content .catalogue .p_info {
            width: 80%;
            padding: 20px;
            font-size: 1.1rem; }
          .columns .column .sections .single_section .info .sec_content .catalogue .p_title {
            margin-bottom: 40px;
            font-weight: bold;
            font-size: 1.5rem; }
          .columns .column .sections .single_section .info .sec_content .catalogue .phases_list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; }
            .columns .column .sections .single_section .info .sec_content .catalogue .phases_list .phase {
              background-color: #f0f2f5;
              cursor: pointer;
              padding: 0px 5px;
              border-radius: 5px;
              min-width: 100px;
              margin-bottom: 15px; }
              .columns .column .sections .single_section .info .sec_content .catalogue .phases_list .phase.active {
                background-color: #e3f5ff;
                color: #fff; }
              .columns .column .sections .single_section .info .sec_content .catalogue .phases_list .phase .title {
                margin: 0px;
                padding: 0px 5px 10px 5px;
                font-size: 0.8rem;
                font-weight: bold;
                line-height: 1;
                font-family: Poppins;
                color: #000; }
              .columns .column .sections .single_section .info .sec_content .catalogue .phases_list .phase img {
                width: 50%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                margin-bottom: 15px; }
          .columns .column .sections .single_section .info .sec_content .list {
            display: flex;
            flex-wrap: wrap; }
            .columns .column .sections .single_section .info .sec_content .list .item {
              margin-right: 10px;
              margin-bottom: 10px;
              padding: 10px 25px;
              border-radius: 25px; }
              .columns .column .sections .single_section .info .sec_content .list .item.red {
                background-color: #feeeed;
                color: #fa5a4c; }
              .columns .column .sections .single_section .info .sec_content .list .item.blue {
                background-color: #e5ecf9;
                color: #2e63af; }
    .columns .column .sections .doble_section {
      display: flex; }
      .columns .column .sections .doble_section .no_styled_list {
        list-style: none; }
        .columns .column .sections .doble_section .no_styled_list li:not(:last-child) {
          margin-bottom: 25px; }

.where_to_study {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  cursor: pointer; }
  .where_to_study .where {
    position: relative;
    transform: translateX(calc(-50% + 50px));
    padding: 5px;
    border: 1px solid #fa5a4c;
    border-radius: 50px; }
    .where_to_study .where .inner_content {
      height: 50px;
      display: flex;
      align-items: center;
      background-color: #fa5a4c;
      color: #fff;
      padding: 0px 50px;
      border-radius: 50px; }
  .where_to_study .next_step {
    display: flex;
    align-items: center; }

@media only screen and (max-width: 768px) {
  .title_on_loading {
    margin-top: 200px; }
  .columns {
    flex-direction: column;
    padding: 0px !important;
    margin: 0px !important; }
    .columns > div {
      width: 100% !important; }
    .columns .video {
      max-width: 768px; }
      .columns .video iframe {
        width: 100%; }
    .columns .profit-graph {
      height: 615px !important; }
      .columns .profit-graph .graph {
        flex-direction: column; }
        .columns .profit-graph .graph > div {
          width: 100% !important; }
        .columns .profit-graph .graph .wages {
          height: 200px;
          position: relative; }
        .columns .profit-graph .graph .employability {
          margin-top: 75px;
          height: 250px; }
    .columns .single_section {
      width: 100% !important;
      padding-left: 15px; }
      .columns .single_section .sec_title {
        top: 0 !important; }
        .columns .single_section .sec_title h2 {
          font-size: 1.2rem;
          font-weight: bold; }
      .columns .single_section .sec_content {
        font-size: 0.9rem; }
        .columns .single_section .sec_content .catalogue {
          padding-right: 15px; }
          .columns .single_section .sec_content .catalogue .p_title {
            font-size: 1.2rem !important; }
          .columns .single_section .sec_content .catalogue .p_descrip {
            font-size: 0.9rem !important; }
          .columns .single_section .sec_content .catalogue .phases_list .phase .title {
            font-size: 0.7rem !important; }
        .columns .single_section .sec_content .doble_section {
          flex-direction: column; }
  .where_to_study {
    flex-direction: column;
    margin: 0px; }
    .where_to_study .where {
      position: relative;
      transform: unset; }
      .where_to_study .where .inner_content {
        display: flex;
        justify-content: center; } }
