.filter {
  display: flex;
  justify-content: space-between;
}
.filter .title {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-family: "Poppins-ExtraBold";
  width: 15%;
}
.filter input {
  border: 1px solid #000;
  padding: 10px 25px;
  border-radius: 25px;
  width: 35%;
  height: 30%;
  outline: none;
  align-self: center;
  font-size: 13px;
}
.filter .order {
  display: flex;
  width: 50%;
  padding-left: 15px;
}
.filter .order > div {
  width: 25%;
}
.filter .order select {
  border: none;
  outline: none;
  margin-left: 30px;
}
.filter .order .select-country {
  position: relative;
  width: 25%;
  left: 0;
  cursor: pointer;
}
.filter .order .select-country .selected .option .text {
  text-align: left;
}
.filter .order .select-country .options {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  width: 100%;
}
.filter .order .select-country .options.show {
  display: block;
}
.filter .order .select-country .options .option:hover {
  background-color: #ccc;
}
.filter .order .select-country .option {
  display: flex;
  padding-bottom: 10px;
}
.filter .order .select-country .option > div {
  width: 50%;
}
.filter .order .select-country .option a {
  display: flex;
}
.filter .order .select-country .option .img {
  height: 30px;
  width: 25%;
}
.filter .order .select-country .option .img img {
  width: unset;
  height: 100%;
}
.filter .order .select-country .option .text {
  width: 75%;
  font-size: 12px;
  margin: 5px;
  text-align: center;
}
.filter .order .arrow-icon {
  width: 3%;
  position: relative;
}
.filter .order #order {
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  .filter {
    display: unset;
  }
  .filter .search {
    width: 100% !important;
    margin-bottom: 25px;
  }
  .filter .order {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .filter .order select {
    margin: unset;
  }
  .filter .order .ciudades-filter-container,
.filter .order .order-alphabetic-container {
    width: 50%;
  }
  .filter .order .select-country,
.filter .order .arrow-icon {
    width: 25%;
  }
}
