.card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  .card:hover {
    transform: scale(1.05, 1.05); }
  .card .uni_img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 50%;
    overflow: hidden; }
  .card .layer .header_img {
    height: 170px;
    overflow: hidden; }
    .card .layer .header_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card .layer .info {
    background-color: #252146;
    color: #fff;
    height: 125px; }
    .card .layer .info .title {
      padding-top: 60px;
      font-size: 1.1rem;
      text-align: center;
      line-height: 1;
      font-family: "Poppins-SemiBold"; }

@media only screen and (max-width: 768px) {
  .card .uni_img {
    top: 30%; }
  .card .layer .header_img {
    height: 70px; }
    .card .layer .header_img img {
      height: auto !important; }
  .card .layer .info .title {
    font-size: 0.9rem;
    padding: 50px 10px;
    padding-bottom: 0px; } }
