.horizontal-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px;

    .ad-title {
        letter-spacing: 3px;
        font-size: 10px;
        margin-bottom: 5px;
        font-family: Poppins-SemiBold;
        font-weight: bold;
    }

    .ad-content {
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .horizontal-ad {
        width: 100vw !important;
        margin: 15px 0px;

        .ad-content {
            display: flex;
            justify-content: center;

            video {
                width: 75%;
            }
        }
    }
}
