.index-video-instruction {
    background-color: #252048;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    & > * {
        width: calc((100% / 3) - 5px);
    }

    .video iframe {
        width: 100%;
    }

    .carousel-instructions {
        position: relative;
        display: flex;
        height: 315px;
        overflow: hidden;

        .slides {
            width: 100%;
            display: flex;

            .slide {
                color: #fff;
                height: 100%;
                width: 100%;
                padding: 15px 5px;

                &.active {
                    background-color: #ff5a4a;
                }

                &:not(.active) {
                    position: absolute;
                    visibility: hidden;
                }

                .title {
                    font-size: 40px;
                    font-family: Poppins-SemiBold;
                }

                .info {
                    display: flex;
                    margin-right: 21%;

                    .img {
                        width: 50%;
                    }

                    .text {
                        text-align: justify;
                        width: 50%;
                    }
                }
            }
        }

        .control {
            position: absolute;
            width: 15%;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}
