.post {
    padding: 100px 300px;

    .title {
        font-family: Poppins-ExtraBold;
        font-size: 3.2rem;
        text-align: center;
    }

    .publication_date {
        text-align: center;
        margin: 15px 0px;
    }

    .entradilla {
        margin: 25px 0px;
        font-size: 25px;
    }

    .post_text {
        margin: 25px 0px;

        a {
            color: #007bff !important;
        }

        * {
            font-family: Poppins, Roboto, Cambria, Cochin, Georgia, Times,
                Times New Roman, serif !important;
            font-size: 15px !important;
        }
    }

    .tags {
        font-weight: bold;
    }

    .share {
        margin-top: 25px;

        ul {
            list-style: none;
            padding: 0px;
            display: flex;
            align-items: center;

            li {
                display: inline-block;
                width: 30px;
                height: 50px;

                &:not(:first-child) {
                    margin-left: 75px;

                    a {
                        display: flex;
                        align-content: center;
                        height: 100%;
                        width: 30px;
                        overflow: hidden;
                    }
                }

                &:first-child {
                    font-size: 19px;
                    line-height: 50px;
                }

                .logo {
                    border-radius: 50%;
                    width: 100%;
                    pointer-events: none;
                    z-index: -1000;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .post {
        padding: 25px 20px;

        .title {
            font-size: 2rem;
        }

        .entradilla,
        .post_text {
            font-size: 15px;
        }
    }
}
